{% extends "base.html" %}

{% block title %}Pengurangan Derau Periodik{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Pengurangan Derau Periodik</h2>
    <form action="/noise_reduction/" enctype="multipart/form-data" method="post" class="mt-4">
        <div class="mb-3">
            <label for="file" class="form-label">Pilih Gambar:</label>
            <input name="file" type="file" accept="image/*" class="form-control" required>
        </div>
        <div class="text-center">
            <input type="submit" value="Kurangi Derau" class="btn btn-primary"/>
        </div>
    </form>
</div>
{% endblock %}